name: Check and test transferwee

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Cache pip
      uses: actions/cache@v2
      with:
        # This path is specific to Ubuntu
        path: ~/.cache/pip
        # Look to see if there is a cache hit for the corresponding requirements file
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip install mypy
        pip install requests
    - name: Install Tor
      run: |
        sudo apt-get install tor
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --select=E9,F63,F7,F82 --show-source
        # exit-zero treats all errors as warnings.
        flake8 . --exit-zero --max-complexity=10
    - name: Static type checking via mypy
      run: |
        mypy --non-interactive --install-types .
        mypy .
    - name: Test transferwee
      shell: bash
      env:
        PYTHONDEVMODE: 1
        PYTHONTRACEMALLOC: 1
      run: |
        cd tests && torify ./check.sh
